<?xml version="1.0" encoding="UTF-8"?>

<launch>
    
    <group ns="rover">
		
		<node pkg="multi-robot-simulation" type="rover_odometry_source.py" name="rover_odometry_source" output="screen">
			<remap from="/tf" to="/rover/tf" />
		</node>
	
    </group>
    
    <node pkg="multi-robot-simulation" type="rover_task_allocation_module.py" name="rover_task_allocation_module" output="screen">
	</node>



</launch>


